/*background: linear-gradient(to right, #a517ba,#5f1782) !important;*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
/*--- navbar ---*/
.bg-dark{
	background: linear-gradient(to right, #a517ba,#5f1782) !important;
}
.logo{
	width: 60%;
	margin-left: 0.5em;
}
.navbar ul{
	float: center;
	text-align: center;
	margin-right: 1em;
}
.icon{
	color: white;
	font-size: 35px;
}
.navbar ul li > a{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
}
.navbar ul li > a:hover{
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	font-weight: bolder;
}

/*### banner-section ###*/
#banner{
	background: linear-gradient(to right, #a517ba,#5f1782) !important;
}
.banner-color{
	color: white;
}
.banner-title{
	font-size: 2.5em;
	text-transform: uppercase;
}
.banner-color p{
	font-size: 1.1em;
}
.banner-color i{
	font-size: 45px;
	margin-right: 0.1em;
}
.watch-link{
	text-decoration: none;
	color: white;
}
.banner-color a:hover{
	color: white;
}
.watch{
	font-size: 1.8em !important;
	font-weight: bold !important;
}

/*### services-section ###*/
.title-underline{
	width: 130px;
	height: 5px;
	margin: auto;
	background: linear-gradient(to right, #a517ba,#5f1782);
	margin-bottom: 1.9em;
	border-radius: 5px;
}
#services h2, #services h3, #about-us h2{
	text-transform: uppercase;
	padding: 0.5em;
}

/*### about-us-section ###*/
#about-us{
	background-color: #eee;
}




@media(min-width: 905px){
	.network-img{
		margin-top: 10px;
	}
}

@media(max-width: 768px){
	.banner-color{
		text-align: center;
	}
	.banner-color a{
		display: flex;
		justify-content: center;
		margin-top: 2.5em;
	}
	.network-img{
		width: 70%;
	}

}
@media(max-width: 725px){
	.about-row{
		display: flex;
		flex-direction: column-reverse;
	}
	.about-left, .about-right{
		display: flex;
		justify-content: center;
	}
	.about-left{
		width: 100% !important;
		padding-top: 20px;
	}
	.about-left h3{
		text-align: center;
	}
	.about-right{
		width: 100% !important;
	}
}
